# Ignore the samples folder
samples/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore pickle files
*.pkl

# Ignore Keras model files
*.h5
*.keras

*.wav